@import "variables";

.center {
  composes: center from "styles/_base.scss";
}

.root {
  composes: d-flex flex-row from "styles/_base.scss";
  // height: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.page {
  composes: d-flex flex-column from "styles/_base.scss";
  // height: 100%;
  // overflow-y: visible;
  // max-width: $content-width;
  // min-width: $content-width;

  width: calc(100vw - 64px);

  min-height: calc(100vh - 100px);

  padding-bottom: 100px;
}

.pageHeader {
  composes: d-flex flex-row justify-content-between from "styles/_base.scss";
  padding: 35px 50px 0 25px;

  background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);
  background-color: #f3f5f8;
  border-bottom: 1px solid #e3eaf3;
}

.pageBody {
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 35px;

  button:hover,
  button:focus,
  button:active {
    outline: 0;
  }
}

.breadcrumb {
  &:before {
    color: #5e6c84;
    content: "";
    padding-left: 10px;
  }

  margin-left: 7px;
  margin-right: 7px;
  line-height: 24px;
  margin-bottom: 0.35em;
}

.title {
  composes: d-flex flex-row align-items-start from "styles/_base.scss";
}

.titleLink {
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

.breadcrumb {
  margin-top: 12px !important;
}

.addButton {
}

.empty,
.loading {
  composes: flex-column from "styles/_base.scss";
  composes: center from "styles/_base.scss";
  margin: 35px 50px 0 25px;
}

.stageRoot {
  min-width: 160px;
}

.stageRootInner {
  padding-bottom: 20px;
}

.stageInsightPaid {
  border-left: 5px solid #56b349;
  padding-left: 10px;
}

.stageInsightOverdue {
  border-left: 5px solid #f2b835;
  padding-left: 10px;
}

.stageAmountText {
  font-family: "DinNextLight", Arial, sans-serif;
  letter-spacing: -0.05em;
  color: #56b349;
  padding: 2px 4px 4px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 15px;
  font-size: 2.4rem;
  color: black;
  line-height: 0.85;
}

.stageAmountLabel {
  color: #969696;
  letter-spacing: 1px;
  margin-left: 5px;
  color: #6e8ba8;
  margin-top: -4px;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 0.8;
}

.actions {
  margin-left: 6px;

  &:hover button {
    display: inline-block;
  }

  button:hover,
  button:focus,
  button:active {
    outline: 0;
  }
}

@import "PersonalInfo.scss";
