.root {
  position: relative;
  width: 100%;
}

.button {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.54;
  display: none;

  &:focus,
  &:hover {
    box-shadow: none;
    opacity: 0.8;
  }
}

.root input {
  &:hover + button,
  &:focus + button,
  &:active + button,
  & + button:hover,
  & + button:focus {
    display: inline-block;
  }
}
