.loading {
  opacity: 0.3;
}

.inlineBlock {
  display: inline-block;
}

.module {
  margin: 15px 0 25px 0;
  padding: 30px;
  position: relative;
  // border-bottom: 2px solid #e3eaf3;
  // background-color: #ffffff;
  // background-color: #f9fafb;
  // background-image: -webkit-linear-gradient(bottom, #f6f8fb 0%, #f9fafb 100%);
  // background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);

  background-color: white;
  background-image: none;
}

.module .header {
  position: relative;
  z-index: 1;
}

.module.income .moduleContent {
  height: 175px;
}

// .module.expenses .moduleContent {
//   height: 170px;
// }
//
// .module.expenses .moduleContent .expenseValues {
//   max-width: 150px;
// }

.clear {
  clear: both;
}

.module .moduleContent .moneySection {
  margin: 30px 0;
  cursor: pointer;
}

// .module.expenses .moduleContent .chartContainer,
// .module.expenses .moduleContent .expenseValues {
//   opacity: 0.3;
// }
//
// .module.expenses .moduleContent .chartContainer,
// .module.expenses .moduleContent .expenseValues {
//   opacity: 0.3;
// }
//
// .module.expenses .moduleContent .expenseCategories .chartContainer {
//   position: absolute;
//   top: -45px;
// }
//
// .module.expenses .moduleContent .expenseCategories .chartContainer .chart {
//   //width: 463px;
//   //height: 230px;
// }
//
// .module.expenses .moduleContent .expenseCategories {
//   margin: 0 0 0 40px;
//   width: 550px;
//   float: right;
// }

.module.income .moduleContent .incomeCategories {
  width: 100%;
  height: 100%;
}

.module .moduleContent .subContainer {
  float: left;
  width: 100%;
}

.module.income .moduleContent .incomeCategories .chartContainer {
  width: 100%;
  height: 100%;
}

.module.income .moduleContent .incomeCategories .chartContainer .chart {
  width: 100%;
  height: 100%;
  position: relative;
}

.fancyMoney {
  font-family: "DinNext", Arial, sans-serif;
  letter-spacing: -0.05em;
  // font-size: 2.8rem;
  font-size: 2rem;
  font-weight: 100;
  color: #404040;
}
// .module.expenses .moduleContent .expenseValues .fancyMoney {
//   font-size: 3.6rem;
// }

.upperCase {
  text-transform: uppercase;
}

// .module.expenses .moduleContent {
//   height: 170px;
// }

.module .moduleContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.module .header .title {
  font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
  float: left;
  line-height: 19px;
}

.module .header .ftuMessage {
  float: right;
  //display: none;
  //line-height: 10px;
}

.clear {
  clear: both;
}

.fancyText {
  color: #969696;
  letter-spacing: 1px;
  margin-left: 5px;
  color: #6e8ba8;
  margin-left: 0;
}

.ftuMessage {
  display: block;
}

.floatRight {
  float: right;
}

.pageBodyContainer {
  padding: 0 15px 0 15px;
}

.module.income .moduleContent .incomeCategories .chartContainer .barsContainer {
  position: relative;
  margin-top: 30px;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar {
  // cursor: pointer;
  position: relative;
  width: 100%;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.open {
  float: left;
  width: 66%;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.paid {
  width: 32.8%;
  float: left;
  margin-left: 5px;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.overdue {
  width: 42%;
  float: right;
  margin-right: 25px;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.open
  .insightTooltipDiv {
  background-color: #efb328;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar
  .insightTooltipDiv {
  min-width: 100%;
  height: 45px;
  position: absolute;
}

.module .moduleContent .moneySection {
  margin: 30px 0;
  cursor: pointer;
}

.module.income .moduleContent .incomeCategories .chartContainer .moneySection {
  width: 100%;
  margin: 65px 0 0 0;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.open
  .moneySection {
  width: 49%;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.open
  .openInvoicesTooltipDiv {
  width: 58%;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar
  .insightTooltipInnerDiv {
  height: 29px;
  position: relative;
  top: 8px;
}

.homepage
  .module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.open
  .insightTooltipDiv {
  background-color: #efb328;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.overdue
  .insightTooltipDiv {
  background-color: #e33d43;
}

.module.income
  .moduleContent
  .incomeCategories
  .chartContainer
  .barsContainer
  .invoiceBar.paid
  .insightTooltipDiv {
  background-color: #56b349;
}

.floatLeft {
  float: left;
}

.dijitToggleButton,
.dijitButton,
.dijitDropDownButton,
.dijitComboButton {
  margin: 0.2em;
  vertical-align: middle;
}

.button,
.button:link {
  background-clip: padding-box;
  border-radius: 2px;
  font-family: "HelveticaNeueRoman", Helvetica, Arial, sans-serif;
  min-width: 80px;
  cursor: pointer;
  font-size: 1.4rem;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  border: 0;
  margin: 0px;
  box-sizing: border-box;
  color: #365ebf;
  box-shadow: inset 0 0 0 1px #dcdcdc;
  background-image: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.dijitDropDownButton {
  padding: 0 15px;
}

.button .caret,
.button:link .caret {
  display: inline-block;
  width: 0 !important;
  height: 0 !important;
  vertical-align: middle;
  border-top: 6px solid #404040;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  background-color: transparent;
  margin-left: 5px;
  border-top-color: #404040;
}
