.personalInfo {
  padding-top: 50px;
}

.table {
  display: table;

  .personalInfo & {
    width: 100%;
  }
}

.tableRow {
  display: table-row;
  table-layout: fixed;
  box-sizing: border-box;

  vertical-align: top;

  .personalInfo & {
    width: 100%;
  }
}

.tableCell {
  display: table-cell;
  vertical-align: top;
}

.labelCell {
  composes: tableCell;
  width: 120px;
}

.label {
  color: rgb(64, 64, 64);
  font-weight: bolder;
  font-size: 0.9rem;
  width: 300px;
}

.value {
  font-size: 0.9rem;
  word-break: break-all;
  display: inline-block;
}

.info {
  composes: table;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 90%;
  border-bottom: 1px solid rgb(204, 204, 204);
}
