@import "variables";

.center {
  composes: center from "styles/_base.scss";
}

.root {
  composes: d-flex flex-row from "styles/_base.scss";
  // height: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.page {
  composes: d-flex flex-column from "styles/_base.scss";
  // height: 100%;
  // overflow-y: visible;
  // max-width: $content-width;
  // min-width: $content-width;

  width: calc(100vw - 64px);

  min-height: calc(100vh - 100px);

  padding-bottom: 100px;
}

.pageHeader {
  composes: d-flex flex-row justify-content-between from "styles/_base.scss";
  padding: 35px 50px 0 25px;

  background-image: linear-gradient(to top, #f6f8fb 0%, #f9fafb 100%);
  background-color: #f3f5f8;
  border-bottom: 1px solid #e3eaf3;
}

.pageBody {
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 35px;

  button:hover,
  button:focus,
  button:active {
    outline: 0;
  }
}

.breadcrumb {
  &:before {
    color: #5e6c84;
    content: "";
    padding-left: 10px;
  }

  margin-left: 7px;
  margin-right: 7px;
  line-height: 24px;
  margin-bottom: 0.35em;
}

.title {
  composes: d-flex flex-row align-items-start from "styles/_base.scss";
}

.titleLink {
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

.breadcrumb {
  margin-top: 12px !important;
}

.addButton {
}

.empty,
.loading {
  composes: flex-column from "styles/_base.scss";
  composes: center from "styles/_base.scss";
  margin: 35px 50px 0 25px;
}

.stageRoot {
  min-width: 160px;
}

.stageRootInner {
  padding-bottom: 20px;
}

.stageInsightPaid {
  border-left: 5px solid #56b349;
  padding-left: 10px;
}

.stageInsightOverdue {
  border-left: 5px solid #f2b835;
  padding-left: 10px;
}

.stageAmountText {
  font-family: "DinNextLight", Arial, sans-serif;
  letter-spacing: -0.05em;
  color: #56b349;
  padding: 2px 4px 4px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 15px;
  font-size: 2.4rem;
  color: black;
  line-height: 0.85;
}

.stageAmountLabel {
  color: #969696;
  letter-spacing: 1px;
  margin-left: 5px;
  color: #6e8ba8;
  margin-top: -4px;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 0.8;
}

.actions {
  margin-left: 6px;

  &:hover button {
    display: inline-block;
  }

  button:hover,
  button:focus,
  button:active {
    outline: 0;
  }
}

.leftPadding10 {
  padding-left: 10px;
}

.inlineBlock {
  display: inline-block;
}

.alignTextRight {
  text-align: right;
}

.alignTextLeft {
  text-align: left;
}

.upperCase {
  text-transform: uppercase;
}

.amount {
  letter-spacing: -0.05em;
  font-size: 2.8rem;
}

.entrySection + .entrySection {
  margin-top: 100px;
}

.invisible {
  visibility: hidden;
}

.totalsRow {
  thead {
    visibility: hidden;
  }

  td,
  th {
    border-bottom: none;
  }
}

.clientInfoRow {
  composes: d-flex flex-row from "styles/_base.scss";
}

.clientInfoDate {
  composes: d-flex flex-row align-items-center from "styles/_base.scss";
  margin-left: 15px;
  margin-top: 7px;
}

.dateCreated {
  composes: d-flex flex-row align-items-center from "styles/_base.scss";

  button:hover,
  button:focus,
  button:active {
    outline: 0;
  }

  .payment:hover & .actions {
    visibility: visible;
  }

  .actions {
    margin-left: 12px;
    visibility: hidden;
  }
}

.errorLine {
  composes: d-flex from "styles/_base.scss";

  svg {
    color: theme-color("danger");
  }

  div {
    color: theme-color("warning");
  }
}

.center {
  composes: center from "styles/_base.scss";
  height: 150px;
}

.cancelled {
  text-decoration: line-through;
}

.t {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -ms-transform: scale(0.25);
  z-index: 2;
  position: absolute;
  white-space: pre;
  overflow: visible;

  &.m1_1 {
    transform: matrix(0.52, -0.85, 0.85, 0.52, 0, 0) scale(0.2);
  }
}

.s5_1 {
  font-size: 2294.7px;
  font-family: Roboto;
  color: rgba(169, 169, 169, 0.3);
}

.t1c_1 {
  left: -20px;
  top: 976px;
}
