.formGroup {
  composes: form-group;
}

.formGroupHasDanger {
  composes: form-control is-invalid;
}

.formControlFeedback {
  composes: form-control-feedback;
  composes: invalid-feedback;
  display: block;
}

.formControl {
  composes: form-control;
}

.formControlDanger {
  composes: form-control is-invalid;
}

.formControlStatic {
  composes: form-control-plaintext;
}
