@import "variables";
@import "animate";
// $app-color-black: #373a3c !default;
// $snackbar-action-color: #a1c2fa !default;
// $snackbar-action-hover-color: #bbdefb !default;

.snackbar {
  animation-duration: 0.5s;
  // background: rgba($app-color-black, 0.9);
  background-color: #303030;
  border-radius: 4px;
  // box-shadow: 0 0 5px rgba($app-color-black, 0.1);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 1);
  composes: flex-row align-content-between from "styles/_base.scss";
  font-size: 14px;
  line-height: 1.65em;
  max-width: 568px;
  min-height: 48px;
  padding: 15px 24px;
  position: fixed;

  &.primary {
    background: theme-color("primary");
  }

  &.success {
    background: theme-color("success");
  }

  &.info {
    background: theme-color("info");
  }

  &.warning {
    background: theme-color("warning");
  }

  &.danger {
    background: theme-color("danger");
  }
}

.snackbar > *:not(:first-child) {
  margin-left: 12px;
}

.btn-snackbar {
  background: none;
  border: 0;
  // color: $snackbar-action-color;
  color: #ff4081;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  composes: btn btn-link align-self-center from "styles/_base.scss";
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  line-height: 100%;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  &:focus,
  &:hover {
    box-shadow: none;
    // color: $snackbar-action-hover-color;
    color: #ff4081;
    background-color: rgba(255, 64, 129, 0.12);
    outline: 0;
    text-decoration: none;
  }
}
